.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.pagination button {
  margin: 1rem;
  font-size: 1.5rem;
  color: inherit;
  background: unset;
  border: unset;
  cursor: pointer;
}

.pagination button:hover,
.pagination button:focus,
.pagination button:active {
  color: #0070f3;
}
