html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  padding: 2rem;
  max-width: 48rem;
}

:root {
  --primary: #0070f3;
  --secondary: #fafafa;
}
